{% extends "layout.html" %}
{% block body %}

<section>
<h1>All done!</h1>
<p>Thanks for taking part in this experiment. We have now logged you out.</p>

<h2>Want another go?</h2>
<p>If you want to have another go, please go <a href="/">home</a> and login with your Twitter account again.</p>

<h2>Data anonymisation</h2>
<p>Sensitive data has <strong>not</strong> been collected during your progression through the questions. However, we do currently store a list of all users who have taken part.</p>
<p>When the experiment is finished and the results are being analysed, then all data will become anonymised - we will remove personal information (e.g. your name, screen name, user id, etc.). We will only keep data on the <i>type</i> of user you are through information like your verified status, your followers and friends count, how much you Tweet, and so on.

<h2>Data removal</h2>
<p>If you'd like to have your data removed from the experiment, then please <a href="mailto:W.M.Webberley@cs.cardiff.ac.uk">contact us</a>.

</section>


<aside>
    <h3>Navigation</h3>
    <ul>
        <li class="web"><p>Return <a href="/">home</a></p></li>
    </ul>
</aside>

{% endblock %}
