{% extends "layout.html" %}
{% block body %}

<section>
<h1>All done!</h1>
<p>Thanks a lot for taking part in this experiment. We have now logged you out.</p>

{% if mkt == True %}
<h2>Your completion code</h2>
<p>Below is the code that you should enter into Mechanical Turk to claim your reward. If you have any problems with this code, please <a href="mailto:W.M.Webberley@cs.cardiff.ac.uk">get in touch</a>!</p>
<p style="color:#222; font-size:20px; font-family:'Courier','monospace';">
    {{ code }}
</p>
<p><strong>Important:</strong> Please do not leave this page until you've made a note of the code, as you will not be shown it again.</p>

<p><strong>Note:</strong> If you choose to do the experiment again, you will not be able to claim any more rewards.</p>

<h2>Please spread the word!</h2>
{% endif %}

<p>Please share this experiment with your own followers!</p>
<button class="sign_in"><a href="https://twitter.com/intent/tweet?text=I%20just%20took%20part%20in%20a%205-minute%20experiment%20to%20find%20interesting%20information%20on%20Twitter!&url=http://twinterest.flyingsparx.net" target="_blank">share experiment</a></button>

<h2>Want another go?</h2>
<p>If you want to have another go, please go <a href="/">home</a> and login with your Twitter account again.</p>

<h2>Data anonymisation</h2>
<p>Sensitive data has <strong>not</strong> been collected during your progression through the questions. However, we do currently store a list of all users who have taken part.</p>
<p>When the experiment is finished and the results are being analysed, then all data will become anonymised - we will remove personal information (e.g. your name, screen name, user id, etc.). We will only keep data on the <i>type</i> of user you are through information like your verified status, your followers and friends count, how much you Tweet, and so on.

<h2>Data removal</h2>
<p>If you'd like to have your data removed from the experiment, then please <a href="mailto:W.M.Webberley@cs.cardiff.ac.uk">contact us</a>.

</section>


<aside>
    <h3>Navigation</h3>
    <ul>
        <li class="web"><p>Return <a href="/">home</a></p></li>
    </ul>
</aside>

{% endblock %}
