<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Twinterestingness - Experiment to find interesting information on Twitter.">
    <meta name="author" content="Will Webberley">
	
    <title>Twinterestingness</title>
	
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>		
</head>

<body>
<header>
	
</header>


<div id="main">	
        {% block body %}

        {% endblock %}
</div>

<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript" src="/static/js/color.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
