<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Twinterestingness - Experiment to find interesting information on Twitter.">
    <meta name="author" content="Will Webberley">
	
    <title>Twinterestingness</title>
	
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
    <div id="title">twinterest</div>
    <a href="http://cardiff.ac.uk" target="_blank"><img src="/static/media/cardiff.png" alt="Cardiff University" /></a>	
</header>


<div id="wrapper">	
        {% block body %}

        {% endblock %}

{% if not user == None %}
        <aside>
            <img src="{{ user.profile_image }}" class="profile-image" />            <p>{{user.name }}<br />
            <a target="_blank" href="https://twitter.com/{{ user.screen_name }}">@{{ user.screen_name }}</a></p>
            <button class="logout"><a href="/logout">logout</a></button>
        </aside>
{% endif %}


        <aside>
        <h3>Project information</h3>
        <p>This experiment is part of a research project by Will Webberley.</p>
        <ul>
            <li class="web"><p><a target="_blank" href="http://flyingsparx.net/research">Research information</a></p></li>
            <li class="twitter"><p>Tweet me <a target="_blank" href="https://twitter.com/flyingSparx">@flyingSparx</a></p></li>
            <li class="mail"><p><a href="mailto:W.M.Webberley@cs.cardiff.ac.uk">W.M.Webberley@cs.cardiff.ac.uk</a></p></li>
            <li class="web"><p>Cookie <a href="/cookies">policy</a></p></li>
        </ul>
        </aside>
        <div style="clear:both"></div>
</div>

<script type="text/javascript" src="/static/js/jquery.js"></script>		
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript" src="/static/js/color.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

<script type="text/javascript">
{% block scripts %}

{% endblock %}
</script>
</body>
</html>
