<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Twinterestingness - Experiment to find interesting information on Twitter.">
    <meta name="author" content="Will Webberley">
	
    <title>Twinterestingness</title>
	
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>		
</head>

<body>
<header>
    <div id="title">Twinterest</div>
    <a href="http://cardiff.ac.uk" target="_blank"><img src="/static/media/cardiff.png" alt="Cardiff University" /></a>	
</header>


<div id="wrapper">	
        {% block body %}

        {% endblock %}
</div>

<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript" src="/static/js/color.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
