{% extends "layout.html" %}
{% block body %}

<section>
    {% if timeline == None %}
    <h1>Oops!</h1>
    <h2>There was an issue generating this question</h2>
    <p>Please continue onto the next question. If the problem persists, please <a href="mailto:W.M.Webberley@cs.cardiff.ac.uk">let me know</a>.

    {% else %}
    <h1>Question {{ question }} of {{ question_count }}</h1>
    <p>In this question, please select the Tweet(s) from the timeline that you find interesting.</p>
    <p>Please select <strong>at least one</strong> Tweet from the timeline. There is no upper limit.</p>
    <p>If none of the Tweets are interesting to you (why do you even follow the user?!), then select Tweet(s) that are the <strong>most</strong> interesting to you.</p>

    <h2>Timeline Description</h2>
    <p>{{ description }}</p>
        
    <div id="timeline">
    {% autoescape false %}
    {% for tweet in timeline.tweets %}
        <article data-id="{{tweet.id}}" data-user="{{tweet.user.id}}" {% if tweet.selected == 1 %}class="selected"{% endif %}>            
            <img src="{{ tweet.user.profile_image }}" class="profile-image" />
            <p class="screen-name">@{{ tweet.user.screen_name}}
                <span class="name">{{ tweet.user.name }}</span>
            </p>
            <p class="text">{{ tweet.getDisplayText() }}</p>
            <p class="info"><label>Retweeted</label>{{ tweet.retweet_count }}</p>
            <div style="clear:both"></div>
        </article>
    {% endfor %}
    {% endautoescape %}
    </div>

    {% endif %}

</section> 

<aside>
    <h3>Help</h3>
    <ul>
        <li>To select a Tweet, simply click it.</li>
        <li>To unselect a Tweet, click it again.</li>
        <li>When satisfied, click the 'next' button to  move to the next question.</li>
        <li>Your responses will be saved when you click one of the 'next' or 'prev' buttons.</li>
        <li>You can navigate through the questions and change your responses at any point during the experiment.</li>
    </ul>
</aside>
<aside>
    <h3>Question navigation</h3>
    <p><span id="num_tweets">0</span> Tweets selected</p>

    <div id="buttons">
        {% if question > 1 %}
            <button class="previous">prev</button>
        {% endif %}
        {% if question < question_count %}
            <button class="next">next</button>
        {% else %}
            <button class="start" style="margin:0px;float:right">finish</button>
        {% endif %}
     </div>
     <img id="loading" src="/static/media/loading.gif" alt="loading" />

</aside>
{% endblock %}

{% block scripts %}
var selectedTweets = new Array();
var selectedUsers = new Array();

function calculateArray(){
    selectedArray = new Array();
    selectedUsers = new Array();
    var counter = 0;
    $("article").each(function(){
        if($(this).hasClass("selected")){
            selectedTweets[counter] = $(this).attr("data-id");
            selectedUsers[counter] = $(this).attr("data-user");
            counter ++;
            $(this).css({'background':'rgba(0,0,0,0.1)'});
        }
        else{
            $(this).css({'background':'none'});   
        }
    });
    $("#num_tweets").html(counter);
}

function submitResponse(next_question){
    var arrays = getArraysForPosting();
    tweet_ids = arrays[0].join(",");
    selected = arrays[1].join(",");
    $("#buttons").fadeOut(200, function(){
        $("#loading").fadeIn(200, function(){
            $.ajax({
                type : 'POST',
                url : '/api/update-question/{{ question }}/',
                dataType : 'json',
                data : {
                    tweet_ids: tweet_ids,
                    selected: selected
                },
                success : function(data){
                    if(data.error == 0){
                        $("#wrapper").fadeOut(300, function(){
                            $("#page-loading").css({'display':'block'});
                            window.location = "/question/"+next_question;
                        });
                    }
                    else{
                        alert(data.info+"\n\nPlease contact me if you think this error is wrong!");
                        $("#loading").fadeOut(100);
                        $("#buttons").fadeIn(100);
                    }
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus+": "+errorThrown);
                    $("#loading").fadeOut(100);
                    $("#buttons").fadeIn(100);
                }
            });
        });
    });
}

function getArraysForPosting(){
    var tweets = new Array();
    var selected = new Array();
    var counter = 0;

    $("article").each(function(){
        tweets[counter] = $(this).attr("data-id");
        if($(this).hasClass("selected")){
            selected[counter] = 1;
        }
        else{
            selected[counter] = 0;
        }
        counter ++;
    });
    return [tweets, selected];
}

$(document).ready(function(){
    $("#wrapper").css({'display':'none'});
    $("article").click(function(){
        if($(this).hasClass("selected")){
            $(this).removeClass("selected");
        }
        else{
            $(this).addClass("selected");
        }
        calculateArray();
    });

    $(".next").click(function(){
        var next_question = {{ question }} + 1;
        {% if timeline == None %}
            window.location = "/question/"+next_question;
            return;        
        {% endif %}
        submitResponse(next_question);        
    });

    $(".start").click(function(){
        var next_question = {{ question}} + 1;
        {% if timeline == None %}
            window.location = "/question/"+next_question;
            return;        
        {% endif %}
        submitResponse(next_question);        
    });

    $(".previous").click(function(){
        var next_question = {{ question }} - 1;
        {% if timeline == None %}
            window.location = "/question/"+next_question;
            return;        
        {% endif %}
        submitResponse(next_question);        
    });
    calculateArray();    
    
    $("#wrapper").fadeIn(400);
});

{% endblock %}
